.input-lieu{
    border-radius: 20px;
}

.map-container{
    height: 450px;
    margin-top: 20px;
}

.class-container{
    height: 275px;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 20px; 
}

.class-container-home{
    height: 330px;
    border: 1px solid black;
    margin-left: 30px;
}

.infos-container{
    height: 205px;
    border: 1px solid black;
    margin-left: 30px; 
    margin-top: 25px;
}

.infos-container-home{
    height: 205px;
    border: 1px solid black;
    margin-left: 30px; 
    margin-top: 25px;
}

.input-lieu{
    background-image: url('../img/baseline_search_black_18dp.png');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 30px;
}

.map{
    position: relative;
}

.btn-mylocation{
    background-color: white;
    border:none;
    border-radius: 2px;
    z-index : 99;
    position: absolute;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0.750em;
    top: 24em;
    width: 40px;
    height: 40px;
}

.btn-mylocation:hover{
    background-color:white;
}

.btn-mylocation:focus{
    background-color: white;
    outline-color: transparent;
}

.btn-mylocation i {
    color : #666666;
}

.btn-mylocation i:hover{
    color : black;
}

.list-lieu{
    width: 440px;
    z-index: 100;
    position: absolute;
}

.btn-circuit{
    width: 200px;
    float: right;
}

.btn-filtrer i{
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
}

.btn-filtrer span{
    vertical-align: middle;
    font-size: 15px;
}

.lieu-item:hover{
    cursor: pointer;
    background-color: #E8E8E8;
}