.input-lieu{
    border-radius: 20px;
}

.map-container{
    height: 450px;
    margin-top: 20px;
}

.class-container{
    height: 300px;
    border: 1px solid black;
    margin-left: 30px; 
}

.infos-container{
    height: 230px;
    border: 1px solid black;
    margin-left: 30px; 
    margin-top: 25px;
}

.input-lieu{
    background-image: url('../img/baseline_search_black_18dp.png');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 30px;
}

.btn-mylocation{
    background-color: white;
    border:none;
    border-radius: 0;
    z-index : 99;
    position: absolute;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 93.80%;
    top: 55%;
    width: 40px;
    height: 40px;
}

.btn-mylocation:hover{
    background-color:white;
}

.btn-mylocation:focus{
    background-color: white;
    outline-color: transparent;
}

.btn-mylocation i {
    color : #666666;
}

.btn-mylocation i:hover{
    color : black;
}

.list-lieu{
    width: 440px;
    z-index: 100;
    position: absolute;
}

