.input-lieu{
    border-radius: 20px;
}

.map-container{
    height: 450px;
    margin-top: 20px;
}

.class-container{
    height: 300px;
    border: 1px solid black;
    margin-left: 30px; 
}

.infos-container{
    height: 230px;
    border: 1px solid black;
    margin-left: 30px; 
    margin-top: 25px;
}