.input-circuit{
    background-image: url('../resources/img/baseline_search_black_18dp.png');
    background-repeat: no-repeat;
    background-position: 98%;
    background-size: 30px;
    border-radius: 20px;
}

.filtres-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.liste-container{
    height: 420px;
    border: 1px solid black;
    margin : 0px 5px 0px 5px;
}