html, body{
  background-color: #FFF9F0;
  margin: 0 auto; 
  height: 100%;
  width: 100%;
}

div#content {
  width: 100%; height: 100%;
}

.container-fluid{
  margin: 50px 75px;
}

.btn-default{
  width: 100%;
  background-color: #AE4D4E;
  color: white;
}