html, body{
  background-color: #FFF9F0;
  margin: 0 auto; 
  height: 100%;
  width: 100%;
}

div#content {
  width: 100%; height: 100%;
}

#root{
  width: 100%; height: 92%;
}

#root > div{
  height: 100%;
}

#root > div > div{
  height: 100%;
}

.navbar{
  margin-bottom: 0px;
}

.container-fluid{
  margin: 50px 75px;
}

.btn-default{
  width: 100%;
  background-color: #AE4D4E;
  color: white;
}

.btn-default:focus{
  background-color: #AE4D4E;
  outline-color: transparent;
  color:white;
}

.btn-default:hover{
  background-color: #7a1e26;
  color: white;
}

.navbar-brand{
  display: flex;
  align-items: center;
}

.navbar-default {
  background-color: #5C6BC0 !important;
  border-top: 2px solid #AE4D4E;
  border-radius: 0 !important;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: "Lobster";
  font-size: 25px;
  color: #7a1e26;
  /* text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
}

.navbar-default .navbar-brand:hover{
  color:black;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.material-icons {
  vertical-align: middle;
}

.navbar-default .navbar-text {
  margin: 0 auto;
  text-decoration: underline;
  display: block;
  color: white;
  font-size: 16px;
}

.navbar-default .navbar-text:hover {
  color:  #333;
}

.btn-cancel{
  width: 100px;
  color: #AE4D4E;
  background-color: white;
  border: 1px solid #AE4D4E;
}

.btn-cancel:hover{
  width: 100px;
  color: #7a1e26;
  background-color: white;
  border: 1px solid #7a1e26;
}

.btn-valid {
  width: 100px;
}

.textarea{
  resize: vertical;
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('Billabong'), url('Billabong.woff') format('woff');
}