html, body{
  background-color: #FFF9F0;
  margin: 0 auto; 
  height: 100%;
  width: 100%;
}

div#content {
  width: 100%; height: 100%;
}

.container-fluid{
  margin: 50px 75px;
}

.btn-default{
  width: 100%;
  background-color: #AE4D4E;
  color: white;
}

.btn-default:focus{
  background-color: #AE4D4E;
  outline-color: transparent;
  color:white;
}

.navbar-default {
  background-color: #5C6BC0 !important;
  border-top: 2px solid #AE4D4E;
  border-radius: 0 !important;
}

.navbar-default .navbar-brand {
  color: white;
  font-family: "Billabong";
  font-size: 33px;
  color: #7a1e26;
}

.navbar-default .navbar-brand:hover{
  color:black;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.material-icons {
  vertical-align: middle;
}

.navbar-default .navbar-text {
  margin: 0 auto;
  text-decoration: underline;
  display: block;
  color: white;
  font-size: 16px;
}

.navbar-default .navbar-text:hover {
  color:  #333;
}

@font-face {
  font-family: 'Billabong';
  font-style: normal;
  font-weight: normal;
  src: local('Billabong'), url('Billabong.woff') format('woff');
}